*
{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background{
    padding: 11.5%;
    display: flex;
    background-color: rgb(65, 60, 60);
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
    width: 50%;
    background-color: rgb(24, 23, 23);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

.input{
    padding: 10px;
    width:60%;
    border: none;
    border-radius: 5px;
    margin: 2% 0%;
}

.button{
    padding: 2% 15%;
    font-size: 1.8;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: rgb(36, 127, 36);
    color: white;
    margin: 2% 0%;
}

.display{
    width: 60%;
    padding: 2% 0%;
    margin: 2% 0%;
    font-size: 1.5em;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}